@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position:absolute ;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 105px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inicio{
  padding: 10%;
}
.leopardo{
  padding: 2%;
}

.navMenu a:hover {
  color: #fddb3a;
}



.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.0em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.styled-table thead tr {
  background-color: rgb(212,172,40);
  color: white;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(212,172,40);
}
.textoprincipal{
  
    text-align: center;
    align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);


body{
	font-family: 'josefin sans';
	font-size: 16px;
}
.hero{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;
	transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.hero.scrolled{
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}
.hero-inner{
		background-image: url('images/fundo.jpg');
		background-size: cover;
	background-position: center;
	display: table;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
}
.hero-title{
	display: table-cell;
	vertical-align: middle;	
	text-align: center;
  
}
h1, h2, h3, h4, h5, h6{
	font-family: montserrat;
}
.font-2{
	font-family: 'josefin sans';
	font-weight: 700;
}
.title{ letter-spacing: .3em; text-transform: uppercase; }
.text-light{ color: #fff }
.font-alt{
	font-family: 'georgia';
	font-style: italic;
	color: #666;
}
.hero{
	overflow: hidden;
	z-index: 1;
}
.content{
	position: relative;
	background-color: #fff;
	border-top: 10px solid black;
	padding: 0;	
	margin: 0;
	transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
	transform: translate3d(0, 20px, 0) scale(.75);
	opacity: 0;
}
.content.scrolled{
	transform: translate3d(0, 0, 0) scale(1);	
	opacity: 1;
}
.sd{
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.sd:hover, .sd:focus{
	color: #fff;
	opacity: .7;
	text-decoration: none;
}
.container{
  padding-top: 60px;
  height: 100vh;
}

