
body{
  background: linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
}

.principal{
margin-top: -8%;
}

.infoFamilias{
margin-top: 4%;
text-align: center;
}

.textoFamilias{
  margin-left: 3%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.0em;
  font-family: sans-serif;
  min-width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: rgb(212,172,40);
  color: white;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr{
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(212,172,40);
}

.textoprincipal{
    text-align: center;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


nav {
  width: 300px;
  background-color: #d6cfc7;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  border-radius: 5%;
  
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

.bar{
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.bar:hover { background:rgb(212,172,40);
color: black;
}

.bar:active { background: rgb(212,172,40); }

.navicon {
  background-color:#d6cfc7;
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
  
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
  
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }



/* contentor do slide */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
  margin-top: 3%;
}


.mySlides {
  display: none;
}


figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/* animação de fade */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

